*{
    margin: 0;
    padding: 0;
    /* background-color: #000; */
    font-family: 'Exo 2', sans-serif;
    /* background-color: #E5D9F2; */
}

.header{
    /* border: solid 1px; */
    background-color: #D4AF37;
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    height: 90%;
    margin: 2%;
    mix-blend-mode:multiply;
    :hover{
        cursor: pointer;
    }
}
.logo-img{
    height: 100%;
    width: 100%;
}

.nav-items{
    width: 360px;
    margin-right: 30px;
    font-size: 16px;
    
    ul{
        color: #f0f0f0;
        list-style-type: none;
        margin: 2%;
        display: flex;
        justify-content: space-between;
        :hover{
            scale: 1.1;
            cursor: pointer;
            color: #000;
        }
    }
}

.body{
    margin: 0px 18vh;
    padding-top: 19px;
}
.upperBody {
    display: flex;
    justify-content: space-evenly;
}
.search {
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding: 8px;
    margin: 0px 30px;
    border: solid;
}
.search:hover{
    cursor: text;
}
.filter {
    color: #000;
}
.filter-btn{
    background-color: rgb(221, 143, 143);
    border-radius: 10%;
    /* margin-right: 100px; */
    height: 30px;
    width: 100px;
}
.filter-btn:hover {
    cursor: pointer;
}

.restaurant-cards-section{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.card {
    background-color: #f0f0f0;
    height: 350px;
    width: 250px;
    margin: 30px 20px;
    padding: 10px;
    /* flex: 1 0 200px; */
    transition: scale 2s ease;
    transition: box-shadow 0.4s ease;
}
.card:hover {
    cursor: pointer;
    border: black solid 1px;
    scale: 0.99;
    box-shadow: 6px 8px rgba(242, 132, 29, 0.3);
    /* box-shadow: 5px 5px rgb(209, 223, 120); */
}


.restaurant-img {
    /* border: 1px solid; */
    height: 150px;
    width: 100%;
    object-fit: cover;
    
}
 .res-name {
    margin: 2px 10px;
 }
 .ratings {
    margin: 15px 8px;
 }
 .tags {
    margin: 20px 10px;
 }
 .areaname {
    margin: 0px 10px;
 }