*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

.header{
    background-color: white;
    border: solid 1px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    height: 90%;
    margin: 2%;
    
}
.logo-img{
   height: 100%;
   width: 100%;
}

.nav-items{
    width: 360px;
    margin-right: 30px;
    font-size: 16px;

    ul{
        list-style-type: none;
        margin: 2%;
        display: flex;
        justify-content: space-between;
    }
}
.body{
    /* background-color: #ECCEAE; */
    margin: 10px 15vh;
}
.search {
    width: 100px;
    padding: 8px;
    margin: 2px 8px;
    border: solid;
}

.restaurant-cards-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #f0f0f0;
    height: 350px;
    width: 250px;
    margin: 30px 15px;
    padding: 10px;

}
.card:hover {
    cursor: pointer;
    border: black solid 1px;
    box-shadow: 5px 5px rgb(162, 151, 151);
}


.restaurant-img {
    /* border: 1px solid; */
    height: 150px;
    width: 100%;
    object-fit: cover;
    
}
 .res-name {
    margin: 2px 10px;
 }
 .ratings {
    margin: 15px 8px;
 }
 .tags {
    margin: 20px 10px;
 }
 .areaname {
    margin: 0px 10px;
 }